.mobileMenu {
    display: none;
}
@media screen and (max-width:1100px) {
    .mobileMenu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: fixed;
        z-index: 9999;
        height: 100%;
        width: 250px;
        top: 70px;
        right: 0;
        background: #6B9BC3;
        padding: 1rem;
        color: white;
        font-weight: 700;
    }
    nav{
        display:flex;
        flex-direction:column;
        gap:1rem;
        font-size:1.2em;

    }
    nav ul{
        display:flex;
        flex-direction:column;
        margin-top:0.8rem;
        gap:0.4rem;
    }
    li{
        cursor:pointer;
    }
    .nav-button {
        padding: 0.5rem;
        width: 100%;
    }
    .mobileMenuIn {
        transition: transform 0.2s linear;
    }
    .login-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;

        transition: background-color 0.3s ease;
        width: 100%;
        height:2.5rem;
        cursor:pointer;
    }
        .login-div:hover {
            background: #89AFCF;
        }
    .mobileMenuOut {
        transition: transform 0.2s linear;
        transform: translate(250px,-0);
    }
    .break {
        margin-top:1rem;
        margin-bottom:1rem;
        border-top: 1px solid white;
        width:100%;
    }
}
