.user-div {
    display: flex;
    flex-direction: column;
    margin-inline: 24px;
    height: 100%;
    position: relative;
}
.login-div {
    height: 100%;
    padding-inline: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

    .login-div:hover {
        background: #89AFCF;
    }

    .login-div a {
        padding-inline-start: 7px;
        text-align: center;
        text-wrap:nowrap;
    }

ul {
    color: #2699FB;
    background: white;
}
.user-dropdownlist {
    display:flex;
    position:relative;
    bottom:0;
    margin-top:auto;
    min-width:105px;
    width:100%;
    
}
    .user-dropdownlist ul {
        width:100%;
        position: absolute;
        padding: 0px;
        flex: 1;
        z-index: 1;
        border: 1px solid;
        border-top: 0px;
    }
li {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    padding-inline:0.5rem;
    
}

    li:hover {
        background-color: aliceblue;
    }