
<div class="filters-div">
    <div class="filters-box">
        <form id="basic_search_form">
            <select id="property-type">
                <option value="flat">Mieszkanie</option>
                <option value="house">dom</option>
            </select>
        </form>
    </div>
    @*<img src="/images/houses.jpg" />*@
</div>

@code {

}
