@using System.Globalization;
@inject IStringLocalizer<Resource> localizer
@inject ILocalStorageService localStorage
@inject NavigationManager NavManager

<div class="nav-div">
    <div class="logo-div">
        <img class="logo" src="/images/logo3.png" alt="Frost logo">
        <h1>Frost</h1>
    </div>
    <nav>
        <ul>
            <li class="nav-item">
                <a>@localizer["roommates"]</a>
            </li>
            <li class="nav-item">
                <a>@localizer["buy"]</a>
            </li>
            <li class ="nav-item">
                <a>@localizer["rent"]</a>
            </li>
        </ul>
    </nav>
    <button class="language-button" @onclick="ChangeCulture">@localizer["language"]</button>
    <div class="login-div">
        <img src="/images/Profile.png"/>
        <a>Zaloguj się</a>
    </div>
    <a class="add-item-button">Dodaj Ogłoszenie</a>
</div>
@code {
    CultureInfo cultureEn = new CultureInfo("en-US");
    CultureInfo culturePl = new CultureInfo("pl-PL");
    CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
                localStorage.SetItemAsync<string>("culture", value.Name);
                NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
        }
    }
    public void ChangeCulture()
    {
        if(Culture.Name != culturePl.Name)
        {
            Culture = culturePl;
        }
        else
        {
            Culture = cultureEn;
        }

    }
}
