h1{
    margin-top:2rem;
    margin-bottom:2rem;
}
.main-section {
    display: flex;
    flex-direction: column;
    width: 970px;
}
.main-section h3{
    color: #2699FB;
    margin-top:1rem;
    margin-bottom:1rem;
}
.main-section p{
    margin-inline-start:1rem;
}
.propertyDetails-wrapper{
    display:flex;
    max-width:100%;
    height:100%;
    padding-bottom:1rem;
}
.info-section{
    padding-inline:40px;
    width:auto;
}
    .info-section h3 {
        padding: 15px;
        background-color: #F1F9FF;
    }
h4 {
    color: #2699FB
}
h3 + h4:last-of-type {
    margin-left:15px;
    margin-bottom:3rem;
}
.info-section > p {
    font-style: italic;
}
.userInfo-div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:15px;
}
.contact-info{
    display:flex;
    flex-direction:column
}
.buttons-div{
    margin-top:15px;
    
}
    .buttons-div button {
        padding:0;
        font-weight:100;
        max-height: 35px;
        width:100%;
        margin-top:10px;
        gap:10px;
    }
    .buttons-div button img{
        margin-right:10px;
    }
.text-break {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border-top: 1px solid #2699FB;
}
ul{
    width:100%;
    padding:0;
}
li {
    display:flex;
    padding-top: 10px;
    border-bottom: 2px solid rgba(38,153,251,0.2);
}
li p{
    margin:0;
    font-weight:600;
    margin-left:auto;
    padding-left:1rem;
}
.properties-section{
    display:flex;
    flex-direction:row;
    gap:3rem;
}
.profileImg{
    height:80px;
    width:80px;
}
.percentageDiff {
    font-weight: 600;
    padding-left:0.5rem;
}