/* /Shared/Filters.razor.rz.scp.css */
.filters-div[b-mgnghit97g]{
    display:flex;
    height:365px;
    max-width:100%;
    background-image:url("/images/houses.jpg");
    background-size:100% 100%;
    filter:blur(4px);
}
.filters-div img[b-mgnghit97g]{
    max-width:100%;
    filter:blur(5px);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-nakmi8qim8] {
    position: relative;
    display: flex;
    flex-direction: row;
}

main[b-nakmi8qim8] {
    flex: 1;
}

.sidebar[b-nakmi8qim8] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-nakmi8qim8] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-nakmi8qim8]  a, .top-row[b-nakmi8qim8]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-nakmi8qim8]  a:hover, .top-row[b-nakmi8qim8]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-nakmi8qim8]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-nakmi8qim8] {
        display: none;
    }

    .top-row.auth[b-nakmi8qim8] {
        justify-content: space-between;
    }

    .top-row[b-nakmi8qim8]  a, .top-row[b-nakmi8qim8]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-nakmi8qim8] {
        flex-direction: column;
    }

    .sidebar[b-nakmi8qim8] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-nakmi8qim8] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-nakmi8qim8]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-nakmi8qim8], article[b-nakmi8qim8] {
/*        padding-left: 2rem !important;
        padding-right: 1.5rem !important;*/
    }
}
/* /Shared/NavigationMenu.razor.rz.scp.css */
.navbar-toggler[b-0zf6lvcnxt] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-0zf6lvcnxt] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-0zf6lvcnxt] {
    font-size: 1.1rem;
}

.oi[b-0zf6lvcnxt] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-0zf6lvcnxt] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-0zf6lvcnxt] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-0zf6lvcnxt] {
        padding-bottom: 1rem;
    }

    .nav-item[b-0zf6lvcnxt]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-0zf6lvcnxt]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-0zf6lvcnxt]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-0zf6lvcnxt] {
        display: none;
    }

    .collapse[b-0zf6lvcnxt] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.nav-div[b-2zu4c93vae] {
    display: flex;
    flex-direction: row;
    height: 80px;
    background: #6B9BC3;
    align-items: center;
}
nav[b-2zu4c93vae] {
    height: 100%;
    display: flex;
    flex-direction: row;
}
nav ul li:hover[b-2zu4c93vae] {
    background: #A1BFD9;
}
.nav-item[b-2zu4c93vae] {
    cursor: pointer;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 1.3em;
    color: white;
}
.nav-item:hover[b-2zu4c93vae] {
    background: #89AFCF;
}
nav ul li[b-2zu4c93vae] {
    display:flex;
    flex-direction:row;
    align-items:center;
    transition: background-color 0.3s ease;
}

ul[b-2zu4c93vae] {
    display:flex;
    height: 100%;
    margin: 0;
}
li[b-2zu4c93vae] {
    height: 100%;
    padding-inline: 24px;
}
.logo-div[b-2zu4c93vae] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-inline-start:24px;
    height: 100%;
    width: 260px;
    background: rgb(107,155,195);
    background: linear-gradient(90deg, rgba(107,155,195,1) 5%, rgba(0,212,255,1) 20%, rgba(0,212,255,1) 84%, rgba(107,155,195,1) 100%);
    cursor:pointer;
}
.nav-div .logo-div img[b-2zu4c93vae]{
    height: 100%;
}
.add-item-button[b-2zu4c93vae] {
    text-decoration: none;
    font-weight: 600;
    color: #2699FB;
    background-color: white;
    padding: 10px;
    margin-right: 130px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: white;
}
.login-div[b-2zu4c93vae] {
    height: 100%;
    padding-inline: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline:24px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}
.login-div:hover[b-2zu4c93vae]{
    background: #89AFCF;
}
.login-div a[b-2zu4c93vae]{
    padding-inline-start:7px;
}
.language-button[b-2zu4c93vae] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: 0px;
    padding: 8px;
    width: 46px;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.language-button:hover[b-2zu4c93vae] {
    background: #89AFCF;
    }
h1[b-2zu4c93vae]{
    font-family: Impact,'Helvetica Neue', Helvetica, Arial, sans-serif;
}
