@inject NavigationManager NavManager
@inject IJSRuntime JS
<div class="images-wrapper">
    <div class="slider-for">
        @foreach (var url in propertyImagesUrls)
        {
            <div class="main-slide">
                <img src="@url" />
            </div>
        }
    </div>
    <div class="slider-nav">
        @foreach (var url in propertyImagesUrls)
        {
            <div class="side-slide">
                <img src="@url" />
            </div>
        }
    </div>
</div>
<div>

</div>

@code {
    [Parameter]
    public List<string> propertyImagesUrls { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("import", "/js/InitializeSlickCarouselSliderSync.js");
        if (propertyImagesUrls.Count > 0)
            await JS.InvokeVoidAsync("initializeSlickCarouselSliderSync");
    }
}
