@using Frost.Shared.Models;
<ul>
    @foreach (var propertyOffer in propertyList)
    {
        <li>
            <PropertyListElement propertyOffer="propertyOffer"></PropertyListElement>
        </li>
    }
</ul>

@code {
    [Parameter]
    public List<PropertyOffer>? propertyList { get; set; }
}
