<div class="participant-div">
    <div class="upper-section">
        @if (string.IsNullOrEmpty(participant.profileImgUrl))
        {
            <img src="/images/Icons/ProfileImg.png">
        }
        else
        {
            <img src="@participant.profileImgUrl">
        }
        <div class="info-div">
            <h4>@participant.name</h4>
            <h5>@participant.city</h5>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(participant.description))
    {
        <div class="description-div">
            <p>
                @participant.description
            </p>
        </div>
    }

</div>


@code {
    [Parameter]
    public UserDTO participant { get; set; } = new();

}
