.nav-div[b-2zu4c93vae] {
    display: flex;
    flex-direction: row;
    height: 80px;
    background: #6B9BC3;
    align-items: center;
}
nav[b-2zu4c93vae] {
    height: 100%;
    display: flex;
    flex-direction: row;
}
nav ul li:hover[b-2zu4c93vae] {
    background: #A1BFD9;
}
.nav-item[b-2zu4c93vae] {
    cursor: pointer;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 1.3em;
    color: white;
}
.nav-item:hover[b-2zu4c93vae] {
    background: #89AFCF;
}
nav ul li[b-2zu4c93vae] {
    display:flex;
    flex-direction:row;
    align-items:center;
    transition: background-color 0.3s ease;
}

ul[b-2zu4c93vae] {
    display:flex;
    height: 100%;
    margin: 0;
}
li[b-2zu4c93vae] {
    height: 100%;
    padding-inline: 24px;
}
.logo-div[b-2zu4c93vae] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-inline-start:24px;
    height: 100%;
    width: 260px;
    background: rgb(107,155,195);
    background: linear-gradient(90deg, rgba(107,155,195,1) 5%, rgba(0,212,255,1) 20%, rgba(0,212,255,1) 84%, rgba(107,155,195,1) 100%);
    cursor:pointer;
}
.nav-div .logo-div img[b-2zu4c93vae]{
    height: 100%;
}
.add-item-button[b-2zu4c93vae] {
    text-decoration: none;
    font-weight: 600;
    color: #2699FB;
    background-color: white;
    padding: 10px;
    margin-right: 130px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    border-color: white;
}
.login-div[b-2zu4c93vae] {
    height: 100%;
    padding-inline: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline:24px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}
.login-div:hover[b-2zu4c93vae]{
    background: #89AFCF;
}
.login-div a[b-2zu4c93vae]{
    padding-inline-start:7px;
}
.language-button[b-2zu4c93vae] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: 0px;
    padding: 8px;
    width: 46px;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.language-button:hover[b-2zu4c93vae] {
    background: #89AFCF;
    }
h1[b-2zu4c93vae]{
    font-family: Impact,'Helvetica Neue', Helvetica, Arial, sans-serif;
}