@inherits LayoutComponentBase

<div class="page">
    <div>
        <NavMenu OnMobileMenuVisChange="ChangeMenuVisibility"/>
    </div>

    <main class="@(mobileMenuVisibility? "mobileMenuIn" : "mobileMenuOut")">
        <article class="content">
            @Body
        </article>
    </main>
</div>
@code{
    public bool mobileMenuVisibility { get; set; } = false;

    public void ChangeMenuVisibility(bool visibility)
    {
        mobileMenuVisibility = visibility;
    }
}
